[submodule "tbroLib"]
	path = tbroLib
	url = https://github.com/Team-Bath-Roving/tbroLib.git
[submodule "Camera-Streaming"]
	path = Camera-Streaming
	url = https://github.com/Team-Bath-Roving/Camera-Streaming.git
